{% extends '../dentist/base.html'%}

{% load bootstrap_tags %}


{% block title %} <title>Register</title> {% endblock title %}

{% block content %}
<h1>Register</h1>
<br>
{% if form.errors %}
<div class="alert alert-warning">
  Form error. Please try again.
<button type="button" class="btn-close" name="button">Close</button>
</div>
{% endif %}

<form method="post" action="">
{% csrf_token %}
<table class="table table-hover">
<tr>
    {{ form.as_p }}
</tr>
<br><br>
<input type="submit" value="Signup" class='btn btn-danger'>
<input type="hidden" name="next" value="{{ next }}">
</form>

{% endblock %}
