body {
  background-color: beige;
  font-family: fantasy;
}

li a {
  color: silver;
}

table {
  width: 100%;
}


input {
  height: 80px;
  width: 250px;
  font-size: 25px;
}

button {
  background-color: navy;
  color: white;
}


.topnav {
  background-color: silver;
  color: white;
}

.topnav a:link {
  padding: 30px;
  text-decoration: none;
}

.topnav a.active {
  background-color: violet;
  color: white;
}

.topnav a:hover {
  background-color: black;
  color: silver;
}

/* .topnav a:visited {
  background-color: silver;
  color: white;
} */
