<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>{{ customer.customer_text }}  </h1>
    <p>You've been doing business with us since {{ customer.pub_date }}</p><br>

    {% for balance in customer.balance_set.all %}
    <!--   <p>Your {{ balance.balance_text }}ing amount is: <strong>$ {{ balance.defaults }} </strong> defaults </p>-->
        <p>Your total balance is: <strong>$ {{ balance.defaults }} </strong> defaults</p>
    {% endfor %}
    <br>
    <a href="{% url 'perseverance:detail' customer.id %}">Make another transaction? </a>
  </body>
</html>
