{% extends "./index.html" %}
{% block content %}
  <input type="text" name="" placeholder="Name, Account no. etc">
  <button type="submit" name="button">Search</button>
  <center>
  <h2>Income Statement</h2>
  <table>
    <tr>
      <th></th>
      <th>Debit(+)</th>
      <th>Credit(-)</th>
    </tr>
    <tr>
      <th>Revenues</th>
      <td>$1000</td>
    </tr>
    <tr>
      <th>Expenses</th>
      <td></td>
      <td>$(800)</td>
    </tr>
    <tr>
      <td></td>
      <td>-----</td>
      <td>-----</td>
    </tr>
    <tr>
      <th>Total</th>
      <td>$1000</td>
      <td>$(800)</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td>-----</td>
    </tr>
    <tr>
      <th>Profit/Loss</th>
      <td></td>
      <td></td>
      <td>$200</td>
    </tr>
  </table>
  </center>
{% endblock content %}
