<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Perseverance Bank</title>
  </head>
  <body>
    <form action="{% url 'perseverance:transaction' customer.id %}" method="post">
      {% csrf_token %}
      <fieldset>
        <legend> <h1>{{ customer.customer_text }}</h1></legend>
        {% if error_message %}
          <p><strong> {{ error_message }} </strong> </p>
        {% endif %}
        <p>I'd like to add/deduct (amount) from my account: </p>

        <!-- {% for balance in customer.balance_set.all %}
          <input type="radio" name="balance"
          id='balance{{ forloop.counter }}' value="{{ balance.id }}">
          <label for="balance{{ forloop.counter }}"> {{ balance.balance_text }} $ </label>
          <input type="number" id="amount{{ forloop.counter }}" name="amount" value="1000.00"><br>
        {% endfor %} -->

      <input type="radio" id='w-bal' name="balance">
      <label for="balance"> Withdraw $ </label>
      <input type="number" id="w-amt" name="withdrawn-amount" value="1000.00"><br>

      <input type="radio" id='d-bal' name="balance">
      <label for="balance"> Deposit $ </label>
      <input type="number" id="d-amt" name="deposited-amount" value="1000.00"><br>
      </fieldset>
      <input type="submit" name="submit" value="Confirm">
    </form>
  </body>
</html>
