<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Perseverance Bank</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'perseverance/style.css'%}">
  </head>
  <body>
    <h1>Money is a measurement of the allocation of goods and service</h1>
    <div class="topnav" id="nav">
          <a href="{% url 'perseverance:index' %}" class="active">Home</a>
          <a href="{% url 'perseverance:tranfer' %}">ACH Transfer</a>
          <a href="{% url 'perseverance:cost' %}">Cost Simulator</a>
    </div>
    {% block content %}
    {% if latest_deposit_list %}
      <ul>
        {% for customer in latest_deposit_list %}
          <li> <a href="{% url 'perseverance:tranx' customer.id %}">{{customer.customer_text}}</a> </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>No customers yet, hang in there.</p>
    {% endif %}
    {% endblock content %}

    <br>
    <br>
    <br>
    <p>Google the sh*t out of it.</p>
    <p>Thanks for doing business with us.</p>
  </body>
</html>
