<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>
    {% block title %}
    Home Page
    {% endblock %}
    </title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'checkIn/style.css' %}">
  </head>
  <body>
    <h1>Don't bring a knife to a gun fight.</h1>
    <center>
    <div class="topnav" id="nav">
      <a href="{% url 'home' %}" class="active">Home</a>
      <a href="{% url 'create' %}">Create A New Guest</a>
    </div>
    <div class="" id='content' name='content'>
      {% block content %}
      <br>
      <p>{{ name }}</p>
      <h3>Guest List </h3>
      {% for ls in list %}
          {% for g in ls.guest_set.all %}
            {{ls}} {{ls.id}} {{g.memo}} {{g.checkedIn}} {{g.made_on}}
            <form class="del" action="{% url 'delete' ls.id %}" method="post">
              {% csrf_token %}
              <input class='del' type="submit" name="del" value="Del">
            </form>
          {% endfor %}

      {% endfor %}
      {% endblock %}
    </div>
    </center>
  </body>
</html>
