{% extends './base.html'%}

{% load bootstrap_tags %}

{% block title %} <title>Upcoming Appointments</title> {% endblock title %}

{% block content %}
<div class="row">
  <div class="col-lg-9">

    <div class="page-header">
      <legend><h1>Appointments</h1></legend>
    </div>
    {% if not object_list %}
      <p><strong>Nothing to show.</strong>
      Why not <a href="{% url 'create' %}">schedule one?</a></p>
    {% endif %}

    <table class="table tabel-striped">
      <thead>
        <th>#Id/Name</th>
        <th>Memo</th>
        <th>Has Appt</th>
        <th>Schedule Id</th>
        <th>timestamp </th>
      </thead>
      <tbody>
        {% for appt in object_list %}
        <tr>
          <td>{{ appt.clientlist }}</td>
          <td>{{ appt.memo }}</td>
          <td>{{ appt.has_appt }}</td>
          <td>{{ appt.timestamp }}</td>
          <td>

          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <a class='btn btn-primary' href="{% url 'create' %}">Create</a>
  </div>
</div>
{% endblock %}



{% block page_css %}
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css" />
{% endblock %}
