{% extends './base.html'%}

{% load bootstrap_tags %}

{% block title %} <title>Upcoming Appointments</title> {% endblock title %}

{% block content %}
<div class="row">
  <div class="col-lg-9">

    <div class="page-header">
      <legend><h1>Appointments S</h1></legend>
    </div>
    {% if not object %}
      <p><strong>No upcoming appointments.</strong>
      Why not <a href="{% url 'create' %}">schedule one?</a></p>
    {% endif %}

    {% if user.is_authenticated %}
      <ul class='nav-item'>
        <a style='float: right' class='btn btn-primary' href="{% url 'logout' %}">Logout</a>
      </ul>
    {% else %}
      <ul class='nav-item'>
        <a style='float: right' class='btn btn-primary' href="{% url 'login' %}">Login</a>
      </ul>
    {% endif %}

    <table class="table table-striped">
      <thead>
        <th>ID</th>
        <th>Name</th>
        <th>Phone No</th>
        <th>Email</th>
        <th>Date</th>
        <th>Timing </th>
      </thead>
      <tbody>
        <tr>
          <td>{{ object.pk }}</a></td>
          <td>{{ object.name }}</td>
          <td>{{ object.phone_no }}</td>
          <td>{{ object.email }}</td>
          <td>{{ object.appt_date }}</td>
          <td>{{ object.timing }}</td>
        </tr>
      </tbody>
    </table>

    <a class='btn btn-primary' href="{% url 'ls' %}">See All Lists</a>
  </div>
</div>
{% endblock %}
