<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>
    {% block title %}
    Home Page
    {% endblock %}
    </title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'dentist/style.css' %}">
  </head>
  <body>
    <h1>Don't bring a knife to a gun fight.</h1>
    <center>
    <div class="topnav" id="nav">
      <a href="{% url 'home' %}" class="active">Home</a>
      <a href="{% url 'create' %}">Create A New Client</a>
    </div>
    <div class="" id='content' name='content'>
      {% block content %}
      <br>
      <p>{{ name }}</p>
      <h3>Client List </h3>
      {% for ls in list %}
        All -- {{ls}} {{ls.id}}
        <form class="del" action="{% url 'delete' ls.id %}" method="post">
          {% csrf_token %}
          <input class='del' type="submit" name="del" value="Del">
        </form>
          {% for g in ls.client_set.all %}
            With properties -- {{ls}} {{ls.id}}
            {{g.memo}}<br>
          {% endfor %}
      {% endfor %}
      {% endblock %}
    </div>
    </center>
  </body>
</html>
